<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" [src]="image1" style="height: 14rem;" alt="Card image cap">
            <div class="card-body">
                <h2>Log in to your college portal.</h2>
              <p class="card-text">Manage and get details of your coleege.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/college/display']" >Click here</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" [src]="image2" style="height: 14rem;" alt="Card image cap">
            <div class="card-body">
                <h2>Get best institution at your finger tips</h2>
                <p class="card-text">Looking for best institute suits your higer studies and carear as well.</p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['./student/sdetails']">Click here</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>